/* footer styling */

footer {
    background-color: var(--clr-neutral-100);
}

.footer-container {
    display: grid;
    padding-block: 2rem;
    margin-inline: 10rem;
    justify-content: center;
    gap: 1rem;
    column-gap: clamp(2vw, 8vw, 10vw);
    grid-template-columns: max-content auto auto 1fr;
    grid-template-areas:
    'footer-logo footer-nav footer-nav 0'
    'footer-logo footer-nav footer-nav social-list'
    'footer-logo attribution attribution social-list';
}

@media (max-width: 47em) {
    .footer-container {
        display: grid;
        margin-inline: 5rem;
        grid-template-columns: 2fr;
        grid-template-areas: 
        'footer-logo'
        'footer-nav'
        'social-list'
        'attribution';
    }
}

.footer-logo {
    grid-area: footer-logo;
}

@media (max-width: 47em) {
    .footer-logo-wrap {
        display: flex;
        justify-content: center;
        margin-block: 1rem;
    }
}

.footer-nav {
    grid-area: footer-nav;
    columns: 3;
    gap: clamp(3rem, 10vw, 7rem);
    margin-inline: auto;
}

@media (max-width: 47em) {
    .footer-nav {
        columns: 1;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
}

.footer-nav li {
    padding-bottom: 0.5rem;
    font-size: var(--fs-500);
}
.footer-nav li a {
    text-decoration: none;
    color: var(--clr-neutral-300);
    font-weight: var(--fw-regular);
}

.footer-nav > li > a:hover,
.footer-nav > li > a:focus-visible {
    color: var(--clr-primary-100);
    transition: 500ms ease;
}

.social-icon {
    fill: aqua;
    width: var(--size-500);
    aspect-ratio: 1;
}

@media (max-width: 47em) {
    .social-icon {
        width: var(--size-600);
    }
}

.social-list {
    grid-area: social-list;
    display: flex;
    gap: var(--size-500);
    justify-content: flex-end;
}

@media (max-width: 47em) {
    .social-list {
        display: flex;
        justify-content: center;
        gap: var(--size-600);
        margin-block: 0.5rem;
    }
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: red;
}

.attribution {
    grid-area: attribution;
}

@media (max-width: 47em) {
    .attribution {
        font-size: var(--fs-200);
    }
} 